<h1>Profil</h1>
<p>
    Das Ballhaus Prinzenallee, ein Internationaler politischer Kulturort im Wedding.
     
    Das Ballhaus Prinzenallee ist ein Ort, der den spaltenden Tendenzen in der Gesellschaft mit forschendem Blick entgegentritt. Mit unserem Programm beabsichtigen wir, einen gastfreundlichen Begegnungsort für unser Publikum zu schaffen, der Horizonterweiterung nicht nur frontal, sondern auch im zwischenmenschlichen Austausch erlaubt. 
    Auf lange Sicht möchte das Ballhaus eine inklusive künstlerische Heimat für eine Vielfalt an Berliner Künstler*innen verschiedenster Backgrounds schaffen. Dabei wollen wir sowohl ein gut kuratiertes Sprungbrett für Newcomer*innen bieten, als auch, durch die Strahlkraft und die Arbeitsatmosphäre des Hauses, etablierte Künstler*innen der Internationalen und Berliner Kulturszene für unser Profil gewinnen. Das junge Berlin lässt sich immer schwieriger kategorisieren, doch die dringenden Themen sowie die Magie des Theaters liegen nach wie vor im Zwischenmenschlichen.
    Die Suche nach den Werten, die uns allen ein harmonischeres Miteinander über Sprachen hinaus ermöglichen, widmen wir unserer Arbeit. Sei es künstlerisch, inhaltlich oder in Bildungs- und Partizipationsangeboten.
    Wir sind der Überzeugung, dass ein Kieztheater vor allem durch die Nachbarschaft strahlt- und der Einsatz für das Ballhaus, den viele Freunde des Theaters auf freiwilliger Basis bereits leisten, sowie das große und treue Publikum der internationalen Gastspiele und Eigenproduktionen beweisen, dass wir damit ein wichtiger Kulturort sind. 
    Seit 2020 arbeiten wir daran, die Bubble zu Öffnen und einen Begegnungsraum jenseits von Nationalität, Sexualität und Klasse im Wedding zu schaffen. 
    Das Ballhaus Prinzenallee wird vom Träger interkulturell Aktiv e.V. betrieben und ist Partner des Theater28, welches bereits seit 2010 ein bedeutender Bestandteil der türkischen Theaterlandschaft in Berlin und belebt das Ballhaus mit einer Vielzahl an Gastspielen aus der Türkei, so zuletzt beim Deutsch-Türkischen Theaterfestival 2022.
    Das Ballhaus Prinzenallee ist eine Bühne, auf der wir an einem Abend unsere Eltern und Freunde aus den Arbeitermilieus unterhalten können, und am nächsten unsere Kolleg*innen und Partner*innen aus dem Bildungsbürgertum. Und wer weiß? An wieder anderen Abenden vielleicht ALLE! 
    Als Ballhaus sind der festen Überzeugung, dass unsere Gesellschaft zielgruppen-offenere Begegnungsorte braucht. Mit unserem diversen Program möchten wir genau dieses umsetzen.</p>
    <h1>Geschichte des Gebäudes</h1>
    <p>
        Das Gebäude des Ballhaus Prinzenallee in der Prinzenallee 33 im Berliner Wedding ist eins von nur fünf verbliebenen Ballhäusern in Berlin und geschichtsträchtiger als man allgemeinhin vermuten mag. Der Restaurantbesitzer Hermann Schmidt erweiterte im Jahre 1903 seine Gaststätte um einen Festsaal für 300 Personen und ließ hiermit die wechselvolle Geschichte dieses Anbaus im Hinterhof der Prinzenallee 33 beginnen.
        
         Sein Schmidt´scher Ballsaal erhielt aufgrund der verglasten Zugangsveranda den Namen Glaskasten und wurde rasch zu einem kulturellen Mittelpunkt für die proletarische Bevölkerung. Neben günstigem Essen gab es in dem Lokal von Hermann Schmidt, im Untergeschoss eine Kegelbahn, darüber feierten Droschkenkutscher, Laubenpieper und Hochzeitsgesellschaften ihre Feste. Die Räumlichkeiten beherbergten Ausstellungen, Proben und Auftritte von Theater- und Gesangsvereinen.
        
        In den 1920er Jahren wurde der Saal vermehrt von der KPD für ihre Versammlungen genutzt. Auch kommunistische Schulungen wurden hier abgehalten. Herrn Schmidt konnte man jedoch nicht als Mitglied einer bestimmten Gruppierung bezeichnen, für ihn zählte lediglich das Geld, welches er mit den Mieteinnahmen gewann. Und so hatte er auch nichts dagegen, dass die Nazis ab 1931 versuchten, den Glaskasten künftig für sich zu nutzen. Das aber ließen die KPD-Anhänger nicht zu, immer wieder kam es in der Prinzenallee zu Schlägereien mit der SA.
        
         1933 stürmte die SA dann den Glaskasten und mit der Machtübernahme Hitlers gelang es den Nationalsozialisten auch, die Kontrolle über den Saal zu bekommen. Die SA wandelte ihn zu einem Sturmlokal um, die Kegelbahn im Keller wurde in den folgenden Monaten als Folterstätte für Hunderte von Sozialdemokraten und Kommunisten genutzt, einige von ihnen starben an den Misshandlungen. Dies war die Zeit des wilden KZ Glaskasten“.
        
        
        Während des Kriegs wurde dann zwar das Vorderhaus zerstört, der Glaskasten selber aber blieb erhalten. Ab 1945 betrieben die französischen Alliierten dort ein Kriegsgefangenenlager. Bis in die 1950er Jahre hinein nutze die St. Petrus-Gemeinde den Saal für ihre Gottesdienste, da ihre Kirche in der Bellermannstraße durch Bombenangriffe im Krieg teilweise zerstört worden war.
        
        
        In den 1960er Jahren wurde das Wohnhaus mit Gaststätte wiedererrichtet und das Ballhaus wird seitdem wieder kulturell genutzt, erst für Theateraufführungen, dann als Tanzlokal. 1983 diente es als Diskothek „Top Secret“, in der es auch Konzerte von Rockgruppen gab. Danach folgte jahrelanger Leerstand.
        
        Die Mitte der 1990-er Jahre mit zwei Millionen Euro Senatsgeldern sanierten historischen Räumlichkeiten in der Prinzenallee 33 sind seit vielen Jahren ein beliebter Veranstaltungsort und Probenraum für Künstler. Die Sanierung hatten Jugendliche im Rahmen von Beschäftigungs- und Qualifizierungsmaßnahmen des Ausbildungsbetriebes Zukunftsbau GmbH und ABM-Helfer durchgeführt. Der Saal ist jedoch nicht mehr original erhalten, nur das prächtige Innenportal mit den koketten Putten wurde wiederhergestellt. Im Anschluss wurde das Haus an einen Investor verkauft.
        
        Im Jahr 2000 bespielte das Varieté Chamäleon einige Monate lang den Saal, leider oft vor wenig Publikum. Im Anschluss nutzte ein afrikanischer Kulturverein kurzfristig den Saal. 
        </p>
        <h1>Team</h1>
        <p>Künstlerische Leitung
            Ufuk Güldü
            info@ballhausprinzenallee.de
            
            Programmleitung
            Oliver Toktasch
            toktasch@ballhausprinzenallee.de
            
            Kultur- & Projektmanagement
            Lillith Huber
            huber@theater28.de 
            
            Kulturmanagement & Kommunikation
            Laura Kleinwort
            kleinwort@ballhausprinzenallee.de
            
            Technische Leitung
            Cüneyt Gökcen
            Ugur Yüksekol
            Serdar Demirdas
            info@ballhausprinzenallee.de
            
            Beteiligte Künstler
            Frederic Heidorn
            heidorn@ballhausprinzenallee.de
            Christian Bojidar Müller
            mueller@ballhausprinzenallee.de
            
            Theaterpädagogik
            Fatos Uysal
            Mesut Güngör
            Claudia Jenrich
            theaterpadagogik@ballhausprinzenallee.de
            
            Kaufmännische Geschäftsführung
            Ümit Kilic
            umit@ballhausprinzenallee.de</p>